<!DOCTYPE html>
<html>
<head>
  <title>User service dao</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "user_service_dao/application", media: "all" %>
  <%= javascript_include_tag "user_service_dao/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
